body {
    background-color: #fffbf4;
}
nav {
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    width: 10%;
}
div {
    margin: auto;
    width: 70%;
    max-width: 1000px;
}
h1, h2 {
    text-align: center;
    margin-top: 5%;
}
h3, h4, p {
    text-align: justify;
    text-indent: 25px;
}
li, ol, ul {
    text-align: justify;
}
input {
    width: 100%;
    max-width: 1000px;
    margin-top: 5%;
}
a:link {
    color: gray;
}

/* Suppress indenting text relatively a list marker that is indented itself. */
li > p {
    text-indent: 0px;
}

.button {
    background-color: #f1ece8;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#tags_cloud {
    text-align: center;
}


