[run]
branch = True
source = readingbricks
omit =
    */__main__.py
    readingbricks/app_for_server.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if .debug:
    raise AssertionError
    raise NotImplementedError
    raise RuntimeError
    raise AttributeError
    raise ValueError
    raise TypeError
    if __name__ == .__main__.:
    pass
