attrs==21.2.0
certifi==2018.10.15
cffi==1.15.1
charset-normalizer==2.0.4
click==8.0.1
codecov==2.1.12
coverage==5.5
exceptiongroup==1.1.0
flake8==3.9.2
flake8-docstrings==1.6.0
flake8-polyfill==1.0.2
Flask==2.2.2
Flask-Markdown==0.3
Flask-Misaka==1.0.0
idna==2.7
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
Markdown==3.0.1
MarkupSafe==2.1.1
mccabe==0.6.1
misaka==2.1.1
packaging==21.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pycparser==2.19
pydocstyle==3.0.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==7.2.1
pytest-cov==4.0.0
python-markdown-math==0.8
requests==2.26.0
six==1.11.0
snowballstemmer==1.2.1
toml==0.10.2
tomli==2.0.1
urllib3==1.26.6
uWSGI==2.0.21
Werkzeug==2.2.3
