<html>
    <head>
        <meta charset="utf-8">
        <title>Страница не найдена</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/baseline_style.css') }}">
    </head>
    <body>
        <nav id="mainpage"><a href="{{ url_for('index') }}" class="button">На главную</a></nav>
        <div id="central">
            <div id="content">
                <h2>Страница не найдена. Проверьте правильность написания адреса.</h2>
            </div>
        </div>
    </body>
</html>
