<html>
    <head>
        <meta charset="utf-8">
        <title>Страница не найдена</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/baseline_style.css') }}"/>
        <link rel=icon type=image/png href="{{ url_for('static', filename='images/favicon.png') }}"/>
    </head>
    <body>
        <nav id="frozen_button_one"><a href="{{ url_for('index') }}" class="button">/</a></nav>
        <nav id="frozen_button_two"><a href="{{ url_for('about') }}" class="button">?</a></nav>
        <div id="central">
            <div id="contents">
                <h2>Страница не найдена. Проверьте правильность написания адреса.</h2>
            </div>
        </div>
    </body>
</html>
