<html>
    {% include 'head.html' %}
    <body>
        <nav id="frozen_button_one"><a href="{{ url_for('index') }}" class="button">/</a></nav>
        <div id="central">
            <div id="short_contents">
                {% if language == "en" %}
                <h2>Interface guide</h2>
                <p>Once, it will be written... And right now you can look at the <a href="https://github.com/Nikolay-Lysenko/readingbricks/blob/master/README.md#interface-guide">README.md</a> from the GitHub repository of the project.</p>
                {% else %}
                <h2>Обзор интерфейса</h2>
                <p>Когда-нибудь он будет написан... А пока можно обратиться к <a href="https://github.com/Nikolay-Lysenko/readingbricks/blob/master/README.md#interface-guide">README.md</a> из GitHub-репозитория этого проекта.</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>
