<html>
    <head>
        <meta charset="utf-8">
        <title>ReadingBricks - О проекте</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/baseline_style.css') }}"/>
        <link rel=icon type=image/png href="{{ url_for('static', filename='images/favicon.png') }}"/>
    </head>
    <body>
        <nav id="frozen_button_one"><a href="{{ url_for('index') }}" class="button">/</a></nav>
        <div id="central">
            <div id="short_contents">
                <h2>Обзор интерфейса</h2>
                <p>Когда-нибудь он будет написан... А пока можно обратиться к <a href="https://github.com/Nikolay-Lysenko/readingbricks/blob/master/README.md#interface-guide">README.md</a> из GitHub-репозитория этого проекта.</p>
            </div>
        </div>
    </body>
</html>
