<html>
    {% include 'head.html' %}
    <body>
        <nav id="frozen_button_one"><a href="{{ url_for('index') }}" class="button">/</a></nav>
        <nav id="frozen_button_two"><a href="{{ url_for('about') }}" class="button">?</a></nav>
        <div id="central">
            <div id="search_bar">
                <form action='/{{ field_name }}/query' method='post'>
                    <input type='text' name="query" placeholder="{{ search_prompt }}">
                </form>
            </div>
            <div id="tags_cloud">
                {{ tags_cloud }}
            </div>
        </div>
    </body>
</html>
