<html>
    <head>
        <meta charset="utf-8">
        <title>ReadingBricks - Главная</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/baseline_style.css') }}"/>
        <link rel=icon type=image/png href="{{ url_for('static', filename='images/favicon.png') }}"/>
    </head>
    <body>
        <nav id="frozen_button_one"><a href="{{ url_for('about') }}" class="button">?</a></nav>
        <h2>В приложении появилась разбивка на предметные области, но пока есть всего одна.</h2>
        <div id="narrow_central">
            <div id="domains_cloud">
                {{ domains_cloud }}
            </div>
        </div>
    </body>
</html>
