<html>
    <head>
        <meta charset="utf-8">
        <title>ReadingBricks - Главная</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/baseline_style.css') }}"/>
        <link rel=icon type=image/png href="{{ url_for('static', filename='images/favicon.png') }}"/>
    </head>
    <body>
        <div id="central">
            <div id="search_bar">
                <form action='/query' method='post'>
                    <input type='text' name="query" placeholder="нейронные_сети AND (постановка_задачи OR байесовские_методы)">
                </form>
            </div>
            <div id="tags_cloud">
                <h2>На данный момент доступны следующие метки:</h2>
                {{ tags_cloud }}
            </div>
        </div>
    </body>
</html>
