<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page_title }}</title>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                CommonHTML: { linebreaks: { automatic: true } },
                "HTML-CSS": { linebreaks: { automatic: true } },
                SVG: { linebreaks: { automatic: true } }
            });
        </script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_HTML"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/baseline_style.css') }}">
    </head>
    <body>
        <nav><a href="{{ url_for('index') }}" class="button">На главную</a></nav>
        <div id="regular">{{ content_in_html }}</div>
    </body>
</html>
