certifi==2017.11.5
cffi==1.11.2
click==6.7
Flask==0.12.2
Flask-Markdown==0.3
Flask-Misaka==0.4.1
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
misaka==2.1.0
pycparser==2.18
python-markdown-math==0.3
Werkzeug==0.14.1

